<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Faculty+Glyphic&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../css/index.css" />
    <link rel="stylesheet" href="../css/global.css" />
    <script src="../js/middleware.js"></script>
    <title>Recipe Void</title>
  </head>
  <body>
    <header class="navbar">
      <h1 class="logo">Recipe Void</h1>
      <nav class="nav-buttons">
        <div class="full-nav">
          <a href="index.html">Home</a>
          <a href="recipes.html">Recipes</a>
          <a class="auth" href="login.html">Login</a>
        </div>
        <div class="menu-nav">
          <a class="dropbtn">Menu</a>
          <div class="dropdown-content">
            <a href="index.html">Home</a>
            <a href="recipes.html">Recipes</a>
            <a class="auth" href="login.html">Login</a>
          </div>
        </div>
      </nav>
    </header>

    <section class="hero">
      <div class="hero-content">
        <h2>
          Healthy Cooking Recipes<br /><span class="subtitle"
            >Quick and Delicious!</span
          >
        </h2>
      </div>
      <a href="#recipes" class="cta-button">See more recipes</a>
    </section>

    <section class="recipes-section">
      <div class="recipe-grid">
        <div class="recipe-card">
          <div class="recipe-info">
            <h4>Creamy meatballs & pasta</h4>
            <p>35 minutes</p>
            <p>4 servings</p>
            <p>210 calories</p>
          </div>
          <img
            src="../public/meatballs.jpg"
            alt="Creamy meatballs image"
            style="
              width: 150px;
              height: 150px;
              object-fit: cover;
              border-radius: 1rem;
            "
          />
        </div>
        <div class="recipe-card">
          <div class="recipe-info">
            <h4>Creamy meatballs & pasta</h4>
            <p>35 minutes</p>
            <p>4 servings</p>
            <p>210 calories</p>
          </div>
          <img
            src="../public/meatballs.jpg"
            alt="Creamy meatballs image"
            style="
              width: 150px;
              height: 150px;
              object-fit: cover;
              border-radius: 1rem;
            "
          />
        </div>
        <div class="recipe-card">
          <div class="recipe-info">
            <h4>Creamy meatballs & pasta</h4>
            <p>35 minutes</p>
            <p>4 servings</p>
            <p>210 calories</p>
          </div>
          <img
            src="public/meatballs.jpg"
            alt="Creamy meatballs image"
            style="
              width: 150px;
              height: 150px;
              object-fit: cover;
              border-radius: 1rem;
            "
          />
        </div>
        <div class="recipe-card">
          <div class="recipe-info">
            <h4>Creamy meatballs & pasta</h4>
            <p>35 minutes</p>
            <p>4 servings</p>
            <p>210 calories</p>
          </div>
          <img
            src="public/meatballs.jpg"
            alt="Creamy meatballs image"
            style="
              width: 150px;
              height: 150px;
              object-fit: cover;
              border-radius: 1rem;
            "
          />
        </div>
        <div class="recipe-card">
          <div class="recipe-info">
            <h4>Creamy meatballs & pasta</h4>
            <p>35 minutes</p>
            <p>4 servings</p>
            <p>210 calories</p>
          </div>
          <img
            src="public/meatballs.jpg"
            alt="Creamy meatballs image"
            style="
              width: 150px;
              height: 150px;
              object-fit: cover;
              border-radius: 1rem;
            "
          />
        </div>
        <div class="recipe-card">
          <div class="recipe-info">
            <h4>Creamy meatballs & pasta</h4>
            <p>35 minutes</p>
            <p>4 servings</p>
            <p>210 calories</p>
          </div>
          <img
            src="public/meatballs.jpg"
            alt="Creamy meatballs image"
            style="
              width: 150px;
              height: 150px;
              object-fit: cover;
              border-radius: 1rem;
            "
          />
        </div>
      </div>
    </section>
  </body>
</html>
