<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Faculty+Glyphic&display=swap"
      rel="stylesheet"
    />
    <title>Profile - Recipe Void</title>
    <link rel="stylesheet" href="../css/global.css" />
    <link rel="stylesheet" href="../css/profile.css" />
    <script src="../js/profile.js"></script>
    <script src="../js/middleware.js"></script>
  </head>
  <body>
    <header class="navbar">
      <h1 class="logo">Recipe Void</h1>
      <nav class="nav-buttons">
        <div class="full-nav">
          <a href="index.html">Home</a>
          <a href="recipes.html">Recipes</a>
          <a class="auth" href="login.html">Login</a>
        </div>
        <div class="menu-nav">
          <a class="dropbtn">Menu</a>
          <div class="dropdown-content">
            <a href="index.html">Home</a>
            <a href="recipes.html">Recipes</a>
            <a class="auth" href="login.html">Login</a>
          </div>
        </div>
      </nav>
    </header>

    <main class="profile-container">
      <aside class="sidebar">
        <nav>
          <a href="#" class="active">Profile</a>
          <a href="profile/security.html">Security</a>
          <a href="#">Saved Recipes</a>
          <a href="#">My Recipes</a>
          <a href="profile/logout.html">Logout</a>
        </nav>
      </aside>

      <section class="profile-card">
        <form id="profile-form">
          <div class="profile-info">
            <div class="input-group">
              <label for="name">Name</label>
              <input type="text" id="name" required />
            </div>

            <div class="input-group">
              <label for="bio">Bio</label>
              <textarea id="bio" rows="3"></textarea>
            </div>

            <button type="submit" class="save-btn">Save Changes</button>
          </div>
        </form>
      </section>
    </main>
  </body>
</html>
